/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

body {
  background-image: url("http://www.gilcon.net/meridian/images/m59back2.gif");
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

table,
table td {
  border: 1px solid #cccccc;
}

h1 {
  color: #BE976C;
  font-weight: bold;
}

td {
  color: #BE976C;
  height: 19x;
  width: 200px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

div h2
{
    font-weight: bold;
    color: #BE976C;
    font-size: 38px;
}

div faren
{
    color: red;
    font-size: 38px;
}

div jala
{
    color: rgb(8, 250, 8);
    font-size: 38px;
}

div kraanan
{
    color: rgb(0, 13, 196);
    font-size: 38px;
}

div qor
{
    color: rgb(0, 0, 0);
    font-size: 38px;
}

div riija
{
    color: rgb(114, 1, 167);
    font-size: 38px;
}

div shal
{
    color: rgb(197, 252, 0);
    font-size: 38px;
}

div wc
{
    color: rgb(94, 94, 94);
    font-size: 38px;
}